.icon{
margin-top: 10px;
}
.btn1{
    background-color: #7C4EE4;
    color: white;
    border: none;
   height: 40px;
   
}
.text1{
    color: #7C4EE4;
}
.navbar-nav{
    gap: 10px;
}
.hero{
    background-color: #7C4EE4;
    color: white;
}
.btn2{
   border: none;
   height: 40px; 
}
.btn3{
   border-color: #7C4EE4;
   height: 40px; 
}
.card1{
    height: 360px;
    border-radius: 20px;
}
.round{
    border-color: white;
    border-style: solid;
}
.image1{
    justify-content: center;
    align-items: center;
}


@media  screen and  (min-width:0px) and (max-width:480px){
.again{ 
    display: block;
    flex-direction: column;
}
.get{
    margin-top: 20px;
    background-color: #7C4EE4;
}
}
